			<ul class="footer_links ">
				About Us | Contact Us | About Us | Contact Us |About Us | Contact Us 
			</ul>
			<ul align='right' style="margin-left:950px; width: 15%;">
				<i class="fa fa-facebook-square fa-2x" style="color:white; font-size:35px; margin-top:-30px; margin-left:10px; "></i>
				<i class="fa fa-google-plus-square fa-2x" style="color:white; font-size:35px; margin-top:-30px; margin-left:10px; "></i>
				<i class="fa fa-twitter-square fa-2x" style="color:white; font-size:35px; margin-top:-30px; margin-left:10px; "></i>
			</ul>
			<div class='copyright'>
				<p class='footer_info'>
					boyomo is an FMCSA registered household goods transportation broker<br> 
					we are not a moving company, but act as an intermediary service to connect customers with movers<br>
					MC #843756 • US DOT #2479199<br>
					© 2014 boyomo, LLC. USA. all rights reserved<br>
				</p>
			</div>